html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../images/geometryBackground.jpg");
  background-size: cover;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 2em;
  width: 100%;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__wrapper__container {
  margin: 20px 0 0 30px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__wrapper__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.header__wrapper__container__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  background-color: #eee;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.header__wrapper__container:hover input ~ .header__wrapper__container__checkmark {
  background-color: #ccc;
}

.header__wrapper__container input:checked ~ .header__wrapper__container__checkmark {
  background-color: #2196F3;
}

.header__wrapper__container__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.header__wrapper__container input:checked ~ .header__wrapper__container__checkmark:after {
  display: block;
}

.header__wrapper__container .header__wrapper__container__checkmark:after {
  left: 5px;
  top: 0px;
  width: 15px;
  height: 20px;
  border: solid white;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__form {
  width: 70%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background-color: rgba(255, 255, 255, 0.205);
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 8px 0px #fff;
          box-shadow: 0px 0px 8px 0px #fff;
}

.main__form__input {
  height: 3em;
  width: 80%;
  margin: 30px auto 0;
  border: none;
  border-radius: 50px;
  background: #d67eff;
  font-size: 1.5rem;
  opacity: 0.7;
  padding-left: 1em;
  font-family: "Montserrat", sans-serif;
  color: #676679;
}

.main__form__wrapper {
  height: 5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__form__wrapper__button {
  margin-left: 50px;
  margin-right: 50px;
  -webkit-transition: 1s;
  transition: 1s;
  width: 40%;
  border-radius: 50px;
  border: none;
  opacity: 0.5;
  background-color: #36f887;
  font-size: 1.5rem;
  color: #676679;
  font-family: "Montserrat", sans-serif;
}

.main__form__wrapper__button:hover {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.main__form__result {
  height: 10em;
  width: 80%;
  border: none;
  margin: 0 auto 30px;
  border-radius: 50px;
  background: #cbc7ff;
  padding-left: 1em;
  padding-top: 1em;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #676679;
  opacity: 0.5;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-resizer {
  display: none;
}

@media (max-width: 650px) {
  .main__form__input, .main__form__wrapper__button, .main__form__result {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .main__form__wrapper__button {
    margin-left: 10px;
    margin-right: 10px;
  }
}
/*# sourceMappingURL=glassmorphism-style-from-sass.css.map */